.img{
    width: 700px;
    height: 150px;
    margin-right: 50px;
    margin-bottom: 450px;
    
}
.children{
    width: 200px;
    margin-left: 240px;
    
}
.para-card{
    width:2000px;
    height: 90px;
    
}
