.header-container{
    height:700px;
    position: relative;
}
.header-container::before {
    height:300px;
    content: " ";
    top: 0;
    position: absolute;
    width: 15%;
    right: 0;
    background-color: #214946;
}